@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #0047AB;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #4169E1;
    --foreground: #ededed;
  }
} */

html {
  scroll-behavior: smooth;
}

body {
  background: var(--background);
  color: var(--foreground);
}

nav, footer, header {
  width: 100%;
  display: block;
}
